*{
    margin: 0;
    padding: 0;
}

#game{
    height: 500px;
    width: 550px;
    border: 2px solid black;
    position: relative;
    top: 100px;
    left: 35%;
    overflow: hidden;
}

#bird{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 1px;
    
}

#block{
    height: 500px;
    width: 100px;
    position: relative;
    background-color: rgb(21, 254, 21);
    left: 450px;
    /* animation: block 2s linear  infinite; */
    
   
}
@keyframes block {

    0% {
        left: 450px;
    }
    100%{
        left: -120px;
    }
    
}

#hole{
    height: 150px;
    width: 100px;
    position: relative;
    left: 450px;
    top: -500px;
    animation: block 2s linear  infinite;
   background-color: white;
    
}

#game-over{
    height: 300px;
    width: 300px;
    position: absolute;
    top: 200px;
    left: 600px;
    text-align: center;
    border: 1px solid black;
   display: none;
    
}

#contents{
    position: relative;
    margin: 100px 0 50px 0;
    overflow: hidden;
}